<%= stylesheet_link_tag 'jcheck'  %>  
<%= javascript_include_tag 'jcheck-0.7.1.min'  %>  
<%= stylesheet_link_tag 'demo'  %>  
<div class="form_tab" style="width:auto;">
  <div id="frmSuperbill">
    <%= render 'form' %>
  </div>  
</div>  
