<style type="text/css" media="all">
  label {
    width:154px !important;
  }
  .errMsg {margin-left:168px; }
  .custom_error {margin-left:168px; }
</style>
<%= stylesheet_link_tag 'jcheck'  %>  
<%= stylesheet_link_tag 'jcheck'  %>  
<%= javascript_include_tag 'jcheck-0.7.1.min'  %>  
<div class="form_tab">
  <h1>New Referring Physician</h1>
  <div id="frmGroup">
    <%= render 'form' %>
  </div>  
</div>  
