<h2 style="float: left; margin-left: 20px; width: 90%;">Resend confirmation instructions</h2>

<div style="float: left; margin-top: 20px; width: 100%; margin-left: 20px;">
  <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }, :builder => CCFormBuilder) do |f| %>
    <%= f.text_field :email, :label => :Email %></p>

    <div class="actions">
      <%= f.submit "Resend confirmation instructions" %>
    </div>  
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>  
