<html>
<head></head>
<body>
<p>
  This email confirms that you have been added as a Physician in <%= @user.resource.physician_group.name %> group.
</p>

<p>
  You should follow the link to set your password to continue.
</p>

<p>
  <%= link_to @edit_user_password_url, @edit_user_password_url%>

</p>

<p>
  If you have further questions, please contact us at <a href="mailto:info@qliqsoft.com">info@qliqsoft.com</a>.
</p>

<p>
  The qliqCharge Team
</p>
</body>
</html>
