<html>
<head></head>
<body>
<p>
This email confirms that you have been added to our list of people interested in qliqCharge, an exciting and innovative mobile charge capture solution.  
</p>
<p>
We are making final preparations for the formal launch of qliqCharge, and we will be notifying you via email of the official launch date as soon as it is set.
</p>
<p>
We will only use your email for this express purpose.  If you did not intend to join this list, or if you would like to remove your name, please <a href="http://www.qliqsoft.com/unsubscribe/<%= @user.email %>">click </a>unsubscribe. 

If you have further questions, please contact us at <a href="mailto:info@qliqsoft.com">info@qliqsoft.com</a>. 
</p>
<p>
Again, thank you for your interest,
</p>
<p>
The qliqCharge Team
</p>
</body>
</html>
