<%= stylesheet_link_tag 'jcheck'  %>  
<%= javascript_include_tag 'jcheck-0.7.1.min'  %>  
<div class="form_tab">
  <h1>Editing billing_agency</h1>
  <div id="frmGroup">
    <%= render 'form' %>
  </div>  
</div>  
