<div class="interface_left_section">
  <div class="left_navigation">
    <ul>
      <li><%= menu_link_to 'physician_groups', 'index', 'Groups', physician_groups_path  %></li> 
      <li><%= menu_link_to 'physicians', 'index', 'Physicians', physicians_path  %></li> 
      <li><%= menu_link_to 'billing_agencies', 'index', 'Billing Agencies', billing_agencies_path  %></li> 
    </ul>
  </div>
</div>
