<div class="left_navigation">
  <ul>
    <li><%= menu_link_to 'reports', '[index, create]', 'Activity Log', reports_path %></li>
    <li><%= menu_link_to 'reports', '[list, generate]', "Average Length of stay", list_reports_path  %>  </li>
    <li><%= menu_link_to 'reports', '[referral_volume, referral_volume_report]', 'Referral Volume',  referral_volume_reports_path %></li>
  </ul>
</div>
