<div class="interface_left_section">
  <div class="left_navigation">
    <ul>
      <li><%= menu_link_to 'agency_employees', 'edit', 'Edit Employee', edit_agency_employee_path(current_user.resource) %></li>
      <li><%= menu_link_to 'superbills', 'index', 'Superbills', superbills_path  %></li> 
    </ul>
  </div>
</div>
