<div class="interface_left_section">
  <div class="left_navigation">
    <ul>
      <li><%= menu_link_to 'agency_employees', 'index', 'Employees', agency_employees_path  %></li> 
      <li><%= menu_link_to 'superbills', 'index', 'Superbills', superbills_path  %></li> 
    </ul>
  </div>
</div>
