<div class="interface_left_section">
  <div class="left_navigation">
    <ul>
      <li><%= menu_link_to 'billing_agencies', '[profile, search, report]', 'Inbox', billing_agency_profile_path(current_user.resource)  %></li> 
      <li><%= menu_link_to 'billing_agencies', 'history', 'History', history_billing_agencies_path %></li> 
    </ul>
  </div>
</div>
