<div id="footer">
  <ul>
    <li><a href="#">Company Overview</a></li>
    <li><a href="#">Management Team</a></li>
    <li><a href="#">Advisory Board</a></li>
    <li><a href="#">Customers</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Terms&nbsp;of&nbsp;Service</a></li>
  </ul>
  <span>Copyright &copy; 2011 ArdenSys Inc.</span> 
</div>
