<ul>
  <li><%= menu_link_to 'activities', '[index,history]', 'Activities', activities_path %></li> 
  <li><%= menu_link_to 'activities', 'billing', 'Billing', billing_path %></li> 
  <li><%= menu_link_to 'reports', 'Any', 'Reports', reports_path %></li> 
  <li><%= menu_link_to 'notes', 'index', 'Notes', notes_path %></li> 
</ul>
